<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coallnspection.mapper.DeviceMapper">

<!--    List<Device> selectAll()-->
    <select id="selectAll" resultType="Device">
        select * from device
    </select>

<!--    int addDevice(Device device)-->
    <insert id="addDevice" useGeneratedKeys="true">
        insert into device values(null, #{name}, #{area}, #{startTime})
    </insert>

<!--    int deleteDevice(int id)-->
    <delete id="deleteDevice">
        delete from device where id = #{id}
    </delete>

<!--    int updateDevice(Device device)-->
    <update id="updateDevice">
        update device set name = #{name}, area = #{area}, startTime = #{startTime} where id = #{id}
    </update>
</mapper>