<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coallnspection.mapper.WorkerMapper">
    <!--    addWorker(Worker worker)-->
    <insert id="addWorker" useGeneratedKeys="true" >
        insert into workers values(#{job},#{name},#{phone},null)
    </insert>

    <!--    int deleteWorker(String name)-->
    <delete id="deleteWorker">
        delete from workers where phone = #{phone}
    </delete>

    <!--    List<Worker> selectAllWorkers()-->
    <select id="selectAllWorkers" resultType="Worker">
        select * from workers
    </select>

<!--    Worker selectWork(String area)-->
    <select id="selectWorker" resultType="Worker">
        select * from workers where job = #{area}
    </select>
</mapper>