html,body{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: rgb(72, 72, 72);
}

.leftBox{
    width: 300px;
    height: 700px;
    background-color:  rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 20px;
}
.hun{
    height: 30px;
}
.leftBox >.a_bg> a{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 108, 50);
    margin-top: 30px;
}
.a_bg{
    width: 250px;
    height: 270px;
    background-color: white;
    margin-left: 40px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px 0px 0px 10px;
}
.lang{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 73, 22);
    border-radius: 10px;
    overflow: hidden;
}
.langs::before,.langs::after{
    width: 500px;
    height: 400px;
    content: '';
    position: absolute;
    left: 50%;
    top: -30%;
    border-radius: 45%;
    transform: translate(-50%,0) rotateZ(0);
    background-color: rgb(40, 40, 40);
    animation: zhuan 5s linear infinite;
}
.langs::after{
    top: -35%;
    background-color: black;
}
@keyframes zhuan{
    0% {
        transform: translate(-50%,0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%,2%) rotateZ(180deg);
    }
    100%{
        transform: translate(-50%,0) rotateZ(360deg);
    }
}
.cenBox{
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 20px;
    left: 320px;
}
.TopBox{
    width: 1149px;
    height: 700px;
    background-color:  rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    border-right: 2px solid rgb(255, 64, 21);

}
.formBox{
    width: 1000px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 111, 0);
    font-size: 17px;
    font-weight: 600;
}
.yuan{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:  rgb(0, 0, 0);
    border: 1px solid ;
    margin-left: 400px;
    margin-top: 30px;
}
.l_phone{
    display: block;
    width: 800px;
    height: 40px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
}
.l_phone > p{
    position: absolute;
    right: 500px;
    top: 110px;
}
.phone{
    width: 300px;
    height: 30px;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    border: 2px solid rgb(255, 98, 0);
    outline: none;
}
.l_company{
    display: block;
    width: 800px;
    height: 40px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
}
.l_company > p{
    position: absolute;
    right: 500px;
    top: 180px;
}
.company{
    width: 300px;
    height: 30px;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    border: 2px solid rgb(255, 98, 0);
    outline: none;
}
#tarea{
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    border: 2px solid rgb(255, 98, 0);
    outline: none;
}
.submit{
    width: 100px;
    height: 40px;
    display: block;
    margin-left: 400px;
    margin-top: 20px;
    background-color: rgb(255, 79, 15);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color:white;
}
.change{
    color: red;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 70px;
    right: 120px;
}
.change:hover{
    color: blue;
}
ion-icon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 26px;
    /* color: rgb(34, 122, 253); */
    color:rgb(255, 119, 41);
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15,0.5);
}
.changeP{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: 100px;
    border: 1px solid white;
}
.changeP > label{
    display: block;
    width: 380px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
}
.changeP > label > input{
    width: 250px;
    height: 25px;
}
.queRen{
    width: 100px;
    height: 40px;
    display: block;
    margin-top: 60px;
    margin-left: 150px;
}
.changef{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    left: 930px;
}
