html,body{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: rgb(72, 72, 72);
}

.leftBox{
    width: 300px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 20px;
}
.hun{
    height: 30px;
}
.leftBox > .a_bg > a{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 108, 50);
    margin-top: 30px;
}
.a_bg{
    width: 250px;
    height: 270px;
    background-color: white;
    margin-left: 40px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px 0px 0px 10px;
}
.lang{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 73, 22);
    border-radius: 10px;
    overflow: hidden;
}
.langs::before,.langs::after{
    width: 500px;
    height: 400px;
    content: '';
    position: absolute;
    left: 50%;
    top: -30%;
    border-radius: 45%;
    transform: translate(-50%,0) rotateZ(0);
    background-color: rgb(40, 40, 40);
    animation: zhuan 5s linear infinite;
}
.langs::after{
    top: -35%;
    background-color: black;
}
@keyframes zhuan{
    0% {
        transform: translate(-50%,0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%,2%) rotateZ(180deg);
    }
    100%{
        transform: translate(-50%,0) rotateZ(360deg);
    }
}
.cenBox{
    width: 1100px;
    height: 700px;
    position: absolute;
    top: 20px;
    left: 320px;

}
.TopBox{
    width: 1149px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    border-right: 2px solid rgb(255, 77, 17);
}
.Search{
    width: 500px;
    height: 40px;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 20px;
    border: 3px solid orange;
    outline: none;
}
.Message{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: rgb(39, 39, 39);
}
.Message::-webkit-scrollbar {
    -webkit-appearance: none;
}
.Message::-webkit-scrollbar:vertical {
    width: 10px;
}
.Message::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid rgb(255, 75, 43);
    background-color: rgba(255, 101, 24, 0.5);
}
.headBox{
    width: 700px;
    height: 50px;
    position: fixed;
    background-color: rgb(255, 83, 15);
    color: white;
}
.addDevice{
    position: fixed;
    width: 293px;
    height: 50px;
    background-color: rgb(255, 83, 15);
    top: 131px;
    left: 1080px;
}
.occupy{
    height: 50px;
}
.headBox > p{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    padding: 0;

}
.usList{
    margin-top: 0px;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 60, 26);
}
.usList:hover{
    background-color:rgb(171, 171, 171);
}
.usList > p{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 0px;
    margin-left: 15px;
}
ion-icon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 26px;
    /* color: rgb(34, 122, 253); */
    color:rgb(255, 119, 41);
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15,0.5);
}
.addD{
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 100px;
    border: 1px solid white;
}
.addD > label{
    display: block;
    width: 550px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
}
.addD > label > input{
    width: 350px;
    height: 25px;
}
.queRen{
    width: 100px;
    height: 40px;
    display: block;
    margin-top: 60px;
    margin-left: 250px;
}

.bg_msg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15,0.5);
}
.showD{
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 100px;
    border: 1px solid white;
}
.showD > label{
    display: block;
    width: 550px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
}
.showD > label > input{
    width: 350px;
    height: 25px;
}
.xiuGai{
    width: 100px;
    height: 40px;
    display: block;
    margin-top: 60px;
    margin-left: 250px;
}
.close{
    position: fixed;
    width: 70px;
    height: 30px;
    top: 100px;
    left: 1030px;
    border-radius: 10px;
    border: none;
}
.huif{
    position: absolute;
    border: none;
    bottom: 0px;
    right: 0px;
    width: 110px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 83, 15);
    border-radius: 10px 0px 9px 0px ;
}
.addf{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    left: 1030px;
}