.centerBox2{
    display: inline-block;
    width: 800px;
    height: 690px;
    background-color: rgb(224, 236, 254);
    margin-left: 20px;
}
.rightBox2{
    display: inline-block;
    width: 300px;
    height: 690px;
    margin-left: 20px;
    background-color: rgb(212, 234, 255);
}
.zhuHM{
    float: left;
    width: 800px;
    height: 500px;
    background-color: rgb(135, 157, 255);
    margin: 10px auto;
}
#xiaoH{
    width: 300px;
    height: 200px;
    background-color: rgb(135, 157, 255);
    margin-top: 20px;
}

