<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 下面这两是我导图标的网站 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/manager.css}">
</head>
<body>
<div class = 'leftBox'>
    <div class = 'hun'></div>
    <div class = 'a_bg'>
        <a th:href = "@{/manager/toWorker}" style="font-size: 28px; font-weight: 800;"><ion-icon name="person" ></ion-icon>用户信息</a>
        <a th:href = "@{/manager/toDevice}"><ion-icon name="build"></ion-icon>设备信息</a>
        <a th:href = "@{/manager/toAccount}"><ion-icon name="settings"></ion-icon>账号信息</a>
    </div>

    <div class = 'lang'>
        <div class = 'langs'></div>
    </div>
</div>
<div class = 'cenBox'>
    <div class = 'shift' @click="shift">{{shift_data}}</div>
    <div class = 'shift_box' :style="'transform:rotateX(' + angle + 'deg);'">
        <div class = 'TopBox'>
            <input type="text" name="search" placeholder="输入你要搜索的信息" class = 'Search' @keyup.enter = 'Searchmsg'>
            <div class = 'Message'>
                <div class = 'headBox'>
                    <p>姓名</p>
                    <p>电话</p>
                    <p>负责区域</p>
                    <p>编号</p>
                </div>
                <div class = 'occupy'></div>
                <div v-for="user in users" :key="user.no" class = 'usList' @click="showMsg(user)">
                    <p>{{user.name}}</p>
                    <p>{{user.phone}}</p>
                    <p>{{user.job}}</p>
                    <p>{{user.id}}</p>
                </div>
            </div>
            <button class = 'huif' @click="huif">返回</button>
        </div>
        <div class = 'bottom_box'>
            <input type="text" name="search" placeholder="输入你要搜索的信息" class = 'Search' @keyup.enter = 'Searchmsg'>
            <div class = 'Message'>
                <div class = 'headBox'>
                    <p>用户名</p>
                    <p>密码</p>
                    <p>电话</p>
                    <p>编号</p>
                </div>
                <div class = 'occupy'></div>
                <div v-for="sup in supervisor" :key="sup.no" class = 'usList' @click="showMsg(sup)">
                    <p>{{sup.username}}</p>
                    <p>{{sup.password}}</p>
                    <p>{{sup.phone}}</p>
                    <p>{{sup.id}}</p>
                </div>
            </div>
            <button class = 'huif' @click="huif">返回</button>
        </div>
    </div>

    <div v-if="is_msg_show" class = 'bg_msg'>
        <button class = 'close' @click="closeB">返回</button>
        <div class="showD">
            <label for="i1">
                设备名称：&emsp;<input type="text" v-model="usName" id = 'i1' name="">
                <p v-if="dn" style="color: red;">输入信息不能为空</p>
            </label>
            <label for="i2">
                使用时间：&emsp;<input type="text" v-model="usPhone" id = 'i2' name="">
                <p v-if="this.dp" style="color: red;">输入信息不能为空</p>
            </label>
            <label for="i3">
                区&emsp;&emsp;域：&emsp;<input type="text" v-model="usZoom" id = 'i3' name="">
                <p v-if="this.dz" style="color: red;">输入信息不能为空</p>
            </label>
            <label for="i4">
                编&emsp;&emsp;号：&emsp;<input type="text" v-model="usNo" id = 'i4' name="">
                <p v-if="this.dno" style="color: red;">输入信息不能为空</p>
            </label>
            <button class="queRen" type="button" @click="xiuGai">确认</button>
        </div>
    </div>
    <div class = 'RightBox'>
        <div class = 'usName'>{{usName}}</div>
        <div class = 'usMsg'>
            <p>{{value2}}<span>{{usPhone}}</span></p>
            <p>{{value3}}<span>{{usZoom}}</span></p>
            <p>{{value4}}<span>{{usNo}}</span></p>
            <button type="button" class="change" @click="changeB">修改</button>
        </div>

    </div>
</div>
</body>
<script th:inline = 'javascript'>
    //把data1换掉应该就可以完成数据传递
    //至于点击按钮完成信息修改可以后面再交流下我不知道后端是咋弄的
    var reg = /^["|'](.*)["|']$/g;
    var data1 = '[[${workers}]]'.replace(reg,"$1")
    var data1 = JSON.parse(data1)
    var data2 = '[[${users}]]'.replace(reg,"$1")
    var data2 = JSON.parse(data2)
    var reg = /^["|'](.*)["|']$/g;
    new Vue({
        el:'.cenBox',
        data() {
            return {
                users:data1,
                supervisor:data2,
                //解开下面这个注掉users接收数据
                usName:'',
                usPhone:'',
                usZoom:'',
                usNo:'',
                is_msg_show:false,
                save:null,
                dn:false,
                dp:false,
                dz:false,
                dno:false,
                angle:0,
                shift_data:'Worker Data',
                value1:'姓名：',
                value2:'电  话：',
                value3:'工作区：',
                value4:'编  号：',
            }
        },
        mounted() {
            this.save = this.users
        },
        methods: {
            showMsg(a){
                this.usName = a.name
                this.usPhone = a.phone
                this.usZoom = a.zoom
                this.usNo = a.no
            },
            changeB(){
                this.is_msg_show = true
            },
            xiuGai(){
                if(this.usName.trim() && this.usPhone.trim() && this.usZoom.trim() && this.usNo.trim())
                {
                    this.users.forEach(element => {
                        if(element.no === this.dNo)
                        {
                            element.name = this.usName
                            element.phone = this.usPhone
                            element.zoom = this.usZoom
                            element.no = this.usNo
                        }
                    });
                    this.is_msg_show = false
                    this.dn = false
                    this.dp = false
                    this.dz = false
                    this.dno = false
                }else{
                    if(!this.usName.trim()) this.dn = true
                    if(!this.usPhone.trim()) this.dp = true
                    if(!this.usZoom.trim()) this.dz = true
                    if(!this.usNo.trim())   this.dno = true
                }
            },
            closeB(){
                this.dn = false
                this.dp = false
                this.dz = false
                this.dno = false
                this.is_msg_show = false
            },
            Searchmsg(e){
                if(!e.target.value.trim())
                {
                    alert('input can not be null')
                }else{
                    this.users = this.users.filter((user)=>{
                        return user.no === e.target.value
                    })
                }
            },
            huif(){
                this.users = this.save
            },
            shift(){
                if(this.shift_data === 'Worker Data')
                {
                    this.angle = 90.01
                    this.shift_data = 'Supervisor Data'
                    this.value1 = '用户名：'
                    this.value2 = '密  码：'
                    this.value3 = '电  话：'
                    this.value4 = '编  号：'
                }else{
                    this.angle = 0
                    this.shift_data = 'Worker Data'
                    this.value1 = '姓  名：'
                    this.value2 = '电  话：'
                    this.value3 = '工作区：'
                    this.value4 = '编  号：'
                }

            }
        },
    })

</script>
</html>